<a href="https://colab.research.google.com/github/omarehab2110/Hospital-Readmission-Prediction/blob/main/Project_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
import joblib
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import subprocess
import re
from termcolor import colored
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve

#Reading and Describing Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df_Of_Diabetic_Data=pd.read_csv('/content/drive/MyDrive/diabetic_data.csv')
# Read specific sections of the CSV file
admission_type_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', nrows=9, names=['id', 'description'])

# Skip to discharge_disposition_id section (lines 11-40 in the file)
discharge_disposition_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', skiprows=10, nrows=30, names=['id', 'description'])

# Skip to admission_source_id section (lines 42-67 in the file)
admission_source_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', skiprows=41, nrows=26, names=['id', 'description'])

###Mapping

In [4]:
# --- Step 1: Read mapping files and prepare 'id' column ---
# Read admission_type_mapping, treat 'id' as string and strip whitespace
admission_type_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', nrows=9, names=['id', 'description'], dtype={'id': str})
admission_type_mapping['id'] = admission_type_mapping['id'].str.strip()

# Read discharge_disposition_mapping, treat 'id' as string and strip whitespace
discharge_disposition_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', skiprows=10, nrows=30, names=['id', 'description'], dtype={'id': str})
discharge_disposition_mapping['id'] = discharge_disposition_mapping['id'].str.strip()

# Read admission_source_mapping, treat 'id' as string and strip whitespace
admission_source_mapping = pd.read_csv('/content/drive/MyDrive/IDs_mapping.csv', skiprows=41, nrows=26, names=['id', 'description'], dtype={'id': str})
admission_source_mapping['id'] = admission_source_mapping['id'].str.strip()

# --- Step 2: Prepare ID columns in the main DataFrame ---
# Treat ID columns in df_Of_Diabetic_Data as string and strip whitespace
df_Of_Diabetic_Data['admission_type_id_str'] = df_Of_Diabetic_Data['admission_type_id'].astype(str).str.strip()
df_Of_Diabetic_Data['discharge_disposition_id_str'] = df_Of_Diabetic_Data['discharge_disposition_id'].astype(str).str.strip()
df_Of_Diabetic_Data['admission_source_id_str'] = df_Of_Diabetic_Data['admission_source_id'].astype(str).str.strip()

# --- Step 3: Attempt to convert stripped string IDs to integers for mapping ---
# Use a try-except block for robust conversion
try:
    admission_type_mapping['id_int'] = admission_type_mapping['id'].astype(int)
    discharge_disposition_mapping['id_int'] = discharge_disposition_mapping['id'].astype(int)
    admission_source_mapping['id_int'] = admission_source_mapping['id'].astype(int)

    df_Of_Diabetic_Data['admission_type_id_int'] = df_Of_Diabetic_Data['admission_type_id_str'].astype(int)
    df_Of_Diabetic_Data['discharge_disposition_id_int'] = df_Of_Diabetic_Data['discharge_disposition_id_str'].astype(int)
    df_Of_Diabetic_Data['admission_source_id_int'] = df_Of_Diabetic_Data['admission_source_id_str'].astype(int)

    # Use the integer columns for mapping
    map_admission_type = admission_type_mapping.set_index('id_int')['description']
    map_discharge_disposition = discharge_disposition_mapping.set_index('id_int')['description']
    map_admission_source = admission_source_mapping.set_index('id_int')['description']

    # --- Step 4: Perform the mapping ---
    df_Of_Diabetic_Data['admission_type'] = df_Of_Diabetic_Data['admission_type_id_int'].map(map_admission_type)
    df_Of_Diabetic_Data['discharge_disposition'] = df_Of_Diabetic_Data['discharge_disposition_id_int'].map(map_discharge_disposition)
    df_Of_Diabetic_Data['admission_source'] = df_Of_Diabetic_Data['admission_source_id_int'].map(map_admission_source)

    print("Mapping performed using integer IDs.")

except ValueError as e:
    print(f"Could not convert stripped string IDs to integer. Falling back to string mapping. Error: {e}")

    # Fallback to mapping using stripped string IDs if integer conversion fails
    map_admission_type = admission_type_mapping.set_index('id')['description']
    map_discharge_disposition = discharge_disposition_mapping.set_index('id')['description']
    map_admission_source = admission_source_mapping.set_index('id')['description']

    df_Of_Diabetic_Data['admission_type'] = df_Of_Diabetic_Data['admission_type_id_str'].map(map_admission_type)
    df_Of_Diabetic_Data['discharge_disposition'] = df_Of_Diabetic_Data['discharge_disposition_id_str'].map(map_discharge_disposition)
    df_Of_Diabetic_Data['admission_source'] = df_Of_Diabetic_Data['admission_source_id_str'].map(map_admission_source)

    print("Mapping performed using stripped string IDs.")

# --- Step 5: Check for any remaining unmatched IDs after mapping ---
# Check for NaN values in the newly mapped columns
print("\nNumber of NaN values in mapped columns after mapping:")
print("admission_type:", df_Of_Diabetic_Data['admission_type'].isnull().sum())
print("discharge_disposition:", df_Of_Diabetic_Data['discharge_disposition'].isnull().sum())
print("admission_source:", df_Of_Diabetic_Data['admission_source'].isnull().sum())

# Display the head to see the mapped columns
print("\nHead of mapped columns:")
print(df_Of_Diabetic_Data[['admission_type', 'discharge_disposition', 'admission_source']].head(20))

#  drop the temporary string and integer ID columns
df_Of_Diabetic_Data = df_Of_Diabetic_Data.drop(['admission_type_id_str', 'discharge_disposition_id_str', 'admission_source_id_str', 'admission_type_id_int', 'discharge_disposition_id_int', 'admission_source_id_int','admission_type_id',	'discharge_disposition_id',	'admission_source_id'], axis=1, errors='ignore')

Could not convert stripped string IDs to integer. Falling back to string mapping. Error: invalid literal for int() with base 10: 'admission_type_id'
Mapping performed using stripped string IDs.

Number of NaN values in mapped columns after mapping:
admission_type: 5291
discharge_disposition: 3691
admission_source: 6781

Head of mapped columns:
   admission_type                              discharge_disposition  \
0             NaN                                         Not Mapped
1       Emergency                                 Discharged to home
2       Emergency                                 Discharged to home
3       Emergency                                 Discharged to home
4       Emergency                                 Discharged to home
5          Urgent                                 Discharged to home
6        Elective                                 Discharged to home
7       Emergency                                 Discharged to home
8          Urgent                                 Discharged to home
9        Elective                      Discharged/transferred to SNF
10      Emergency                                 Discharged to home
11         Urgent                                 Discharged to home
12      Emergency                      Discharged/transferred to SNF
13      Emergency  Discharged/transferred to home with home healt...
14       Elective                                 Discharged to home
15      Emergency                      Discharged/transferred to SNF
16      Emergency                                 Discharged to home
17      Emergency                                 Discharged to home
18      Emergency                                 Discharged to home
19       Elective  Discharged/transferred to home with home healt...

            admission_source
0         Physician Referral
1             Emergency Room
2             Emergency Room
3             Emergency Room
4             Emergency Room
5            Clinic Referral
6            Clinic Referral
7             Emergency Room
8   Transfer from a hospital
9   Transfer from a hospital
10            Emergency Room
11  Transfer from a hospital
12            Emergency Room
13            Emergency Room
14           Clinic Referral
15            Emergency Room
16            Emergency Room
17            Emergency Room
18            Emergency Room
19           Clinic Referral

In [5]:
print(df_Of_Diabetic_Data.shape)
print(admission_type_mapping.shape)
print(discharge_disposition_mapping.shape)
print(admission_source_mapping.shape)

(101766, 50)
(9, 2)
(30, 2)
(26, 2)

In [6]:
df_Of_Diabetic_Data.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type,discharge_disposition,admission_source
0,2278392,8222157,Caucasian,Female,[0-10),?,1,?,Pediatrics-Endocrinology,41,...,No,No,No,No,No,No,NO,NaN,Not Mapped,Physician Referral
1,149190,55629189,Caucasian,Female,[10-20),?,3,?,?,59,...,No,No,No,No,Ch,Yes,>30,Emergency,Discharged to home,Emergency Room
2,64410,86047875,AfricanAmerican,Female,[20-30),?,2,?,?,11,...,No,No,No,No,No,Yes,NO,Emergency,Discharged to home,Emergency Room
3,500364,82442376,Caucasian,Male,[30-40),?,2,?,?,44,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room
4,16680,42519267,Caucasian,Male,[40-50),?,1,?,?,51,...,No,No,No,No,Ch,Yes,NO,Emergency,Discharged to home,Emergency Room
5,35754,82637451,Caucasian,Male,[50-60),?,3,?,?,31,...,No,No,No,No,No,Yes,>30,Urgent,Discharged to home,Clinic Referral
6,55842,84259809,Caucasian,Male,[60-70),?,4,?,?,70,...,No,No,No,No,Ch,Yes,NO,Elective,Discharged to home,Clinic Referral
7,63768,114882984,Caucasian,Male,[70-80),?,5,?,?,73,...,No,No,No,No,No,Yes,>30,Emergency,Discharged to home,Emergency Room
8,12522,48330783,Caucasian,Female,[80-90),?,13,?,?,68,...,No,No,No,No,Ch,Yes,NO,Urgent,Discharged to home,Transfer from a hospital
9,15738,63555939,Caucasian,Female,[90-100),?,12,?,InternalMedicine,33,...,No,No,No,No,Ch,Yes,NO,Elective,Discharged/transferred to SNF,Transfer from a hospital

In [7]:
df_Of_Diabetic_Data.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
admission_type               5291
discharge_disposition        3691
admission_source             6781
dtype: int64

In [8]:
df_Of_Diabetic_Data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'admission_type', 'discharge_disposition', 'admission_source'],
      dtype='object')

In [9]:
df_Of_Diabetic_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   time_in_hospital          101766 non-null  int64
 7   payer_code                101766 non-null  object
 8   medical_specialty         101766 non-null  object
 9   num_lab_procedures        101766 non-null  int64
 10  num_procedures            101766 non-null  int64
 11  num_medications           101766 non-null  int64
 12  number_outpatient         101766 non-null  int64
 13  number_emergency          101766 non-null  int64
 14  number_inpatient          101766 non-null  int64
 15  diag_1                    101766 non-null  object
 16  diag_2                    101766 non-null  object
 17  diag_3                    101766 non-null  object
 18  number_diagnoses          101766 non-null  int64
 19  max_glu_serum             5346 non-null    object
 20  A1Cresult                 17018 non-null   object
 21  metformin                 101766 non-null  object
 22  repaglinide               101766 non-null  object
 23  nateglinide               101766 non-null  object
 24  chlorpropamide            101766 non-null  object
 25  glimepiride               101766 non-null  object
 26  acetohexamide             101766 non-null  object
 27  glipizide                 101766 non-null  object
 28  glyburide                 101766 non-null  object
 29  tolbutamide               101766 non-null  object
 30  pioglitazone              101766 non-null  object
 31  rosiglitazone             101766 non-null  object
 32  acarbose                  101766 non-null  object
 33  miglitol                  101766 non-null  object
 34  troglitazone              101766 non-null  object
 35  tolazamide                101766 non-null  object
 36  examide                   101766 non-null  object
 37  citoglipton               101766 non-null  object
 38  insulin                   101766 non-null  object
 39  glyburide-metformin       101766 non-null  object
 40  glipizide-metformin       101766 non-null  object
 41  glimepiride-pioglitazone  101766 non-null  object
 42  metformin-rosiglitazone   101766 non-null  object
 43  metformin-pioglitazone    101766 non-null  object
 44  change                    101766 non-null  object
 45  diabetesMed               101766 non-null  object
 46  readmitted                101766 non-null  object
 47  admission_type            96475 non-null   object
 48  discharge_disposition     98075 non-null   object
 49  admission_source          94985 non-null   object
dtypes: int64(10), object(40)
memory usage: 38.8+ MB

In [10]:
df_Of_Diabetic_Data.describe()

,encounter_id,patient_nbr,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [11]:
df_Of_Diabetic_Data.duplicated().sum()

np.int64(0)

In [12]:
# Apply the transformation and assign it back to the 'readmitted' column
df_Of_Diabetic_Data['readmitted'] = df_Of_Diabetic_Data['readmitted'].apply(lambda x: 1 if x == '<30' else 0)

# Now the 'readmitted' column contains the binary values (0 or 1)
print(df_Of_Diabetic_Data['readmitted'].value_counts())

readmitted
0    90409
1    11357
Name: count, dtype: int64

In [13]:
for col in df_Of_Diabetic_Data.columns:
    # Define the list of values to count
    values_to_count = ['?', 'NAN', "Unknown/Invalid", 'Not Mapped', 'NULL', 'Not Available']

    # Count the number of occurrences of any of the values in the list

    count = df_Of_Diabetic_Data[col].isin(values_to_count).sum()
    df_Of_Diabetic_Data[col].replace(values_to_count, np.nan, inplace=True)

    # Print the count for each column
    if count > 0:
     print(f"Column '{col}': {count} problematic values")

Column 'race': 2273 problematic values
Column 'gender': 3 problematic values
Column 'weight': 98569 problematic values
Column 'payer_code': 40256 problematic values
Column 'medical_specialty': 49949 problematic values

<ipython-input-13-aeb711d454ca>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Of_Diabetic_Data[col].replace(values_to_count, np.nan, inplace=True)

Column 'diag_1': 21 problematic values
Column 'diag_2': 358 problematic values
Column 'diag_3': 1423 problematic values
Column 'admission_type': 5105 problematic values
Column 'discharge_disposition': 989 problematic values

#Data preprocessing

###Dropping and Handling Nulls

In [14]:
# removing columns that have a lot of nulls as having >50% of the data
df_Of_Diabetic_Data.drop(['weight', 'payer_code', 'medical_specialty','max_glu_serum' , 'A1Cresult'], axis=1, inplace=True)

# deleting ncounter_id	patient_nbr	as no relation between them and the readmitted
df_Of_Diabetic_Data.drop(['encounter_id','patient_nbr'], axis=1, inplace=True)

df_Of_Diabetic_Data

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type,discharge_disposition,admission_source
0,Caucasian,Female,[0-10),1,41,0,1,0,0,0,...,No,No,No,No,No,No,0,NaN,NaN,Physician Referral
1,Caucasian,Female,[10-20),3,59,0,18,0,0,0,...,No,No,No,No,Ch,Yes,0,Emergency,Discharged to home,Emergency Room
2,AfricanAmerican,Female,[20-30),2,11,5,13,2,0,1,...,No,No,No,No,No,Yes,0,Emergency,Discharged to home,Emergency Room
3,Caucasian,Male,[30-40),2,44,1,16,0,0,0,...,No,No,No,No,Ch,Yes,0,Emergency,Discharged to home,Emergency Room
4,Caucasian,Male,[40-50),1,51,0,8,0,0,0,...,No,No,No,No,Ch,Yes,0,Emergency,Discharged to home,Emergency Room
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),3,51,0,16,0,0,0,...,No,No,No,No,Ch,Yes,0,Emergency,Discharged/transferred to SNF,Emergency Room
101762,AfricanAmerican,Female,[80-90),5,33,3,18,0,0,1,...,No,No,No,No,No,Yes,0,Emergency,Discharged/transferred to ICF,Transfer from a Skilled Nursing Facility (SNF)
101763,Caucasian,Male,[70-80),1,53,0,9,1,0,0,...,No,No,No,No,Ch,Yes,0,Emergency,Discharged to home,Emergency Room
101764,Caucasian,Female,[80-90),10,45,2,21,0,0,1,...,No,No,No,No,Ch,Yes,0,Urgent,Discharged/transferred to SNF,Emergency Room
101765,Caucasian,Male,[70-80),6,13,3,3,0,0,0,...,No,No,No,No,No,No,0,Emergency,Discharged to home,Emergency Room

In [15]:
for col in df_Of_Diabetic_Data.columns:
    if df_Of_Diabetic_Data[col].isnull().any():
        if df_Of_Diabetic_Data[col].dtype == 'object':
            df_Of_Diabetic_Data[col] = df_Of_Diabetic_Data[col].fillna(df_Of_Diabetic_Data[col].mode()[0])
        else:
            df_Of_Diabetic_Data[col] = df_Of_Diabetic_Data[col].fillna(df_Of_Diabetic_Data[col].median())

In [16]:
df_Of_Diabetic_Data.isnull().sum()

race                        0
gender                      0
age                         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
admission_type              0
discharge_disposition       0
admission_source            0
dtype: int64

###Encoding

In [17]:

label_enc = LabelEncoder()

# Select only categorical columns
categorical_cols = df_Of_Diabetic_Data.select_dtypes(include='object').columns.tolist()

# Split into binary, safe multi-category, and high-cardinality
binary_cols = [col for col in categorical_cols if df_Of_Diabetic_Data[col].nunique() == 2]
safe_multiclass_cols = [col for col in categorical_cols if 3 <= df_Of_Diabetic_Data[col].nunique() <= 20]

# 1. Label encode binary columns
for col in binary_cols:
    df_Of_Diabetic_Data[col] = label_enc.fit_transform(df_Of_Diabetic_Data[col])

# 2. One-hot encode only safe multiclass columns
df_Of_Diabetic_Data = pd.get_dummies(df_Of_Diabetic_Data, columns=safe_multiclass_cols, drop_first=True)
## Very Simple Convert Boolean Values to Integers

# Identify columns that are of boolean type
boolean_cols = df_Of_Diabetic_Data.select_dtypes(include=bool).columns

# Convert boolean columns to integers (True=1, False=0)
for col in boolean_cols:
    df_Of_Diabetic_Data[col] = df_Of_Diabetic_Data[col].astype(int)
    print(f"Converted boolean column '{col}' to integers (0/1).")

# Display data types to verify
print("\nData types after converting boolean columns:")
print(df_Of_Diabetic_Data.info())

Converted boolean column 'race_Asian' to integers (0/1).
Converted boolean column 'race_Caucasian' to integers (0/1).
Converted boolean column 'race_Hispanic' to integers (0/1).
Converted boolean column 'race_Other' to integers (0/1).
Converted boolean column 'age_[10-20)' to integers (0/1).
Converted boolean column 'age_[20-30)' to integers (0/1).
Converted boolean column 'age_[30-40)' to integers (0/1).
Converted boolean column 'age_[40-50)' to integers (0/1).
Converted boolean column 'age_[50-60)' to integers (0/1).
Converted boolean column 'age_[60-70)' to integers (0/1).
Converted boolean column 'age_[70-80)' to integers (0/1).
Converted boolean column 'age_[80-90)' to integers (0/1).
Converted boolean column 'age_[90-100)' to integers (0/1).
Converted boolean column 'metformin_No' to integers (0/1).
Converted boolean column 'metformin_Steady' to integers (0/1).
Converted boolean column 'metformin_Up' to integers (0/1).
Converted boolean column 'repaglinide_No' to integers (0/1).
Converted boolean column 'repaglinide_Steady' to integers (0/1).
Converted boolean column 'repaglinide_Up' to integers (0/1).
Converted boolean column 'nateglinide_No' to integers (0/1).
Converted boolean column 'nateglinide_Steady' to integers (0/1).
Converted boolean column 'nateglinide_Up' to integers (0/1).
Converted boolean column 'chlorpropamide_No' to integers (0/1).
Converted boolean column 'chlorpropamide_Steady' to integers (0/1).
Converted boolean column 'chlorpropamide_Up' to integers (0/1).
Converted boolean column 'glimepiride_No' to integers (0/1).
Converted boolean column 'glimepiride_Steady' to integers (0/1).
Converted boolean column 'glimepiride_Up' to integers (0/1).
Converted boolean column 'glipizide_No' to integers (0/1).
Converted boolean column 'glipizide_Steady' to integers (0/1).
Converted boolean column 'glipizide_Up' to integers (0/1).
Converted boolean column 'glyburide_No' to integers (0/1).
Converted boolean column 'glyburide_Steady' to integers (0/1).
Converted boolean column 'glyburide_Up' to integers (0/1).
Converted boolean column 'pioglitazone_No' to integers (0/1).
Converted boolean column 'pioglitazone_Steady' to integers (0/1).
Converted boolean column 'pioglitazone_Up' to integers (0/1).
Converted boolean column 'rosiglitazone_No' to integers (0/1).
Converted boolean column 'rosiglitazone_Steady' to integers (0/1).
Converted boolean column 'rosiglitazone_Up' to integers (0/1).
Converted boolean column 'acarbose_No' to integers (0/1).
Converted boolean column 'acarbose_Steady' to integers (0/1).
Converted boolean column 'acarbose_Up' to integers (0/1).
Converted boolean column 'miglitol_No' to integers (0/1).
Converted boolean column 'miglitol_Steady' to integers (0/1).
Converted boolean column 'miglitol_Up' to integers (0/1).
Converted boolean column 'tolazamide_Steady' to integers (0/1).
Converted boolean column 'tolazamide_Up' to integers (0/1).
Converted boolean column 'insulin_No' to integers (0/1).
Converted boolean column 'insulin_Steady' to integers (0/1).
Converted boolean column 'insulin_Up' to integers (0/1).
Converted boolean column 'glyburide-metformin_No' to integers (0/1).
Converted boolean column 'glyburide-metformin_Steady' to integers (0/1).
Converted boolean column 'glyburide-metformin_Up' to integers (0/1).
Converted boolean column 'admission_type_Emergency' to integers (0/1).
Converted boolean column 'admission_type_Newborn' to integers (0/1).
Converted boolean column 'admission_type_Trauma Center' to integers (0/1).
Converted boolean column 'admission_type_Urgent' to integers (0/1).
Converted boolean column 'admission_source_ Emergency Room' to integers (0/1).
Converted boolean column 'admission_source_ Extramural Birth' to integers (0/1).
Converted boolean column 'admission_source_ Not Available' to integers (0/1).
Converted boolean column 'admission_source_ Not Mapped' to integers (0/1).
Converted boolean column 'admission_source_ Physician Referral' to integers (0/1).
Converted boolean column 'admission_source_ Sick Baby' to integers (0/1).
Converted boolean column 'admission_source_ Transfer from Ambulatory Surgery Center' to integers (0/1).
Converted boolean column 'admission_source_ Transfer from a Skilled Nursing Facility (SNF)' to integers (0/1).
Converted boolean column 'admission_source_ Transfer from another health care facility' to integers (0/1).
Converted boolean column 'admission_source_ Transfer from critial access hospital' to integers (0/1).
Converted boolean column 'admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim' to integers (0/1).
Converted boolean column 'admission_source_Clinic Referral' to integers (0/1).
Converted boolean column 'admission_source_HMO Referral' to integers (0/1).
Converted boolean column 'admission_source_Normal Delivery' to integers (0/1).
Converted boolean column 'admission_source_Transfer from a hospital' to integers (0/1).

Data types after converting boolean columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 98 columns):
 #   Column                                                                       Non-Null Count   Dtype
---  ------                                                                       --------------   -----
 0   gender                                                                       101766 non-null  int64
 1   time_in_hospital                                                             101766 non-null  int64
 2   num_lab_procedures                                                           101766 non-null  int64
 3   num_procedures                                                               101766 non-null  int64
 4   num_medications                                                              101766 non-null  int64
 5   number_outpatient                                                            101766 non-null  int64
 6   number_emergency                                                             101766 non-null  int64
 7   number_inpatient                                                             101766 non-null  int64
 8   diag_1                                                                       101766 non-null  object
 9   diag_2                                                                       101766 non-null  object
 10  diag_3                                                                       101766 non-null  object
 11  number_diagnoses                                                             101766 non-null  int64
 12  acetohexamide                                                                101766 non-null  int64
 13  tolbutamide                                                                  101766 non-null  int64
 14  troglitazone                                                                 101766 non-null  int64
 15  examide                                                                      101766 non-null  object
 16  citoglipton                                                                  101766 non-null  object
 17  glipizide-metformin                                                          101766 non-null  int64
 18  glimepiride-pioglitazone                                                     101766 non-null  int64
 19  metformin-rosiglitazone                                                      101766 non-null  int64
 20  metformin-pioglitazone                                                       101766 non-null  int64
 21  change                                                                       101766 non-null  int64
 22  diabetesMed                                                                  101766 non-null  int64
 23  readmitted                                                                   101766 non-null  int64
 24  discharge_disposition                                                        101766 non-null  object
 25  race_Asian                                                                   101766 non-null  int64
 26  race_Caucasian                                                               101766 non-null  int64
 27  race_Hispanic                                                                101766 non-null  int64
 28  race_Other                                                                   101766 non-null  int64
 29  age_[10-20)                                                                  101766 non-null  int64
 30  age_[20-30)                                                                  101766 non-null  int64
 31  age_[30-40)                                                                  101766 non-null  int64
 32  age_[40-50)                                                                  101766 non-null  int64
 33  age_[50-60)                                                                  101766 non-null  int64
 34  age_[60-70)                                                                  101766 non-null  int64
 35  age_[70-80)                                                                  101766 non-null  int64
 36  age_[80-90)                                                                  101766 non-null  int64
 37  age_[90-100)                                                                 101766 non-null  int64
 38  metformin_No                                                                 101766 non-null  int64
 39  metformin_Steady                                                             101766 non-null  int64
 40  metformin_Up                                                                 101766 non-null  int64
 41  repaglinide_No                                                               101766 non-null  int64
 42  repaglinide_Steady                                                           101766 non-null  int64
 43  repaglinide_Up                                                               101766 non-null  int64
 44  nateglinide_No                                                               101766 non-null  int64
 45  nateglinide_Steady                                                           101766 non-null  int64
 46  nateglinide_Up                                                               101766 non-null  int64
 47  chlorpropamide_No                                                            101766 non-null  int64
 48  chlorpropamide_Steady                                                        101766 non-null  int64
 49  chlorpropamide_Up                                                            101766 non-null  int64
 50  glimepiride_No                                                               101766 non-null  int64
 51  glimepiride_Steady                                                           101766 non-null  int64
 52  glimepiride_Up                                                               101766 non-null  int64
 53  glipizide_No                                                                 101766 non-null  int64
 54  glipizide_Steady                                                             101766 non-null  int64
 55  glipizide_Up                                                                 101766 non-null  int64
 56  glyburide_No                                                                 101766 non-null  int64
 57  glyburide_Steady                                                             101766 non-null  int64
 58  glyburide_Up                                                                 101766 non-null  int64
 59  pioglitazone_No                                                              101766 non-null  int64
 60  pioglitazone_Steady                                                          101766 non-null  int64
 61  pioglitazone_Up                                                              101766 non-null  int64
 62  rosiglitazone_No                                                             101766 non-null  int64
 63  rosiglitazone_Steady                                                         101766 non-null  int64
 64  rosiglitazone_Up                                                             101766 non-null  int64
 65  acarbose_No                                                                  101766 non-null  int64
 66  acarbose_Steady                                                              101766 non-null  int64
 67  acarbose_Up                                                                  101766 non-null  int64
 68  miglitol_No                                                                  101766 non-null  int64
 69  miglitol_Steady                                                              101766 non-null  int64
 70  miglitol_Up                                                                  101766 non-null  int64
 71  tolazamide_Steady                                                            101766 non-null  int64
 72  tolazamide_Up                                                                101766 non-null  int64
 73  insulin_No                                                                   101766 non-null  int64
 74  insulin_Steady                                                               101766 non-null  int64
 75  insulin_Up                                                                   101766 non-null  int64
 76  glyburide-metformin_No                                                       101766 non-null  int64
 77  glyburide-metformin_Steady                                                   101766 non-null  int64
 78  glyburide-metformin_Up                                                       101766 non-null  int64
 79  admission_type_Emergency                                                     101766 non-null  int64
 80  admission_type_Newborn                                                       101766 non-null  int64
 81  admission_type_Trauma Center                                                 101766 non-null  int64
 82  admission_type_Urgent                                                        101766 non-null  int64
 83  admission_source_ Emergency Room                                             101766 non-null  int64
 84  admission_source_ Extramural Birth                                           101766 non-null  int64
 85  admission_source_ Not Available                                              101766 non-null  int64
 86  admission_source_ Not Mapped                                                 101766 non-null  int64
 87  admission_source_ Physician Referral                                         101766 non-null  int64
 88  admission_source_ Sick Baby                                                  101766 non-null  int64
 89  admission_source_ Transfer from Ambulatory Surgery Center                    101766 non-null  int64
 90  admission_source_ Transfer from a Skilled Nursing Facility (SNF)             101766 non-null  int64
 91  admission_source_ Transfer from another health care facility                 101766 non-null  int64
 92  admission_source_ Transfer from critial access hospital                      101766 non-null  int64
 93  admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim  101766 non-null  int64
 94  admission_source_Clinic Referral                                             101766 non-null  int64
 95  admission_source_HMO Referral                                                101766 non-null  int64
 96  admission_source_Normal Delivery                                             101766 non-null  int64
 97  admission_source_Transfer from a hospital                                    101766 non-null  int64
dtypes: int64(92), object(6)
memory usage: 76.1+ MB
None

In [18]:
df_Of_Diabetic_Data

,gender,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_ Sick Baby,admission_source_ Transfer from Ambulatory Surgery Center,admission_source_ Transfer from a Skilled Nursing Facility (SNF),admission_source_ Transfer from another health care facility,admission_source_ Transfer from critial access hospital,admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim,admission_source_Clinic Referral,admission_source_HMO Referral,admission_source_Normal Delivery,admission_source_Transfer from a hospital
0,0,1,41,0,1,0,0,0,250.83,276,...,0,0,0,0,0,0,0,0,0,0
1,0,3,59,0,18,0,0,0,276,250.01,...,0,0,0,0,0,0,0,0,0,0
2,0,2,11,5,13,2,0,1,648,250,...,0,0,0,0,0,0,0,0,0,0
3,1,2,44,1,16,0,0,0,8,250.43,...,0,0,0,0,0,0,0,0,0,0
4,1,1,51,0,8,0,0,0,197,157,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,3,51,0,16,0,0,0,250.13,291,...,0,0,0,0,0,0,0,0,0,0
101762,0,5,33,3,18,0,0,1,560,276,...,0,0,1,0,0,0,0,0,0,0
101763,1,1,53,0,9,1,0,0,38,590,...,0,0,0,0,0,0,0,0,0,0
101764,0,10,45,2,21,0,0,1,996,285,...,0,0,0,0,0,0,0,0,0,0
101765,1,6,13,3,3,0,0,0,530,530,...,0,0,0,0,0,0,0,0,0,0

###Normalize using MinMax

In [19]:
scaler = MinMaxScaler()
diag_cols = ['diag_1', 'diag_2', 'diag_3']

for col in diag_cols:
    # Attempt to convert the column to numeric.
    # 'errors='coerce'' will turn any values that cannot be converted into NaN.
    df_Of_Diabetic_Data[col] = pd.to_numeric(df_Of_Diabetic_Data[col], errors='coerce')

# Select only numerical columns
numerical_cols = df_Of_Diabetic_Data.select_dtypes(include=['int64', 'float64']).drop('readmitted', axis=1).columns
# Exclude the target variable 'readmitted' if it's in the list
if 'readmitted' in numerical_cols:
    numerical_cols.remove('readmitted')

# Apply Min-Max scaling to the numerical columns
df_Of_Diabetic_Data[numerical_cols] = scaler.fit_transform(df_Of_Diabetic_Data[numerical_cols])

# Display the head to see the normalized col
df_Of_Diabetic_Data.head(10)

,gender,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,...,admission_source_ Sick Baby,admission_source_ Transfer from Ambulatory Surgery Center,admission_source_ Transfer from a Skilled Nursing Facility (SNF),admission_source_ Transfer from another health care facility,admission_source_ Transfer from critial access hospital,admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim,admission_source_Clinic Referral,admission_source_HMO Referral,admission_source_Normal Delivery,admission_source_Transfer from a hospital
0,0.0,0.000000,0.305344,0.000000,0.0000,0.000000,0.0,0.000000,0.248825,0.272636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.153846,0.442748,0.000000,0.2125,0.000000,0.0,0.000000,0.274096,0.246489,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.076923,0.076336,0.833333,0.1500,0.047619,0.0,0.047619,0.647590,0.246479,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.076923,0.328244,0.166667,0.1875,0.000000,0.0,0.000000,0.005020,0.246911,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.000000,0.381679,0.000000,0.0875,0.000000,0.0,0.000000,0.194779,0.152918,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.153846,0.229008,1.000000,0.1875,0.000000,0.0,0.000000,0.412651,0.408451,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,1.0,0.230769,0.526718,0.166667,0.2500,0.000000,0.0,0.000000,0.412651,0.408451,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,1.0,0.307692,0.549618,0.000000,0.1375,0.000000,0.0,0.000000,0.426707,0.489940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.923077,0.511450,0.333333,0.3375,0.000000,0.0,0.000000,0.396586,0.424547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,0.0,0.846154,0.244275,0.500000,0.2125,0.000000,0.0,0.000000,0.432731,0.194165,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
df_Of_Diabetic_Data.to_csv('cleaned_diabetic_data.csv', index=False)

### Handling outliers

In [21]:
## More Nuanced Outlier Handling (Example: Removing outliers in a specific column)

numerical_cols_for_outliers = df_Of_Diabetic_Data.select_dtypes(include=np.number).columns.tolist()
if 'readmitted' in numerical_cols_for_outliers:
    numerical_cols_for_outliers.remove('readmitted')

# Define columns where you might want to remove outliers (example)
cols_to_remove_outliers_from = ['time_in_hospital'] # Example: Assuming extreme hospital stays might be errors

print("Handling Outliers using IQR:")

for col in numerical_cols_for_outliers:
    Q1 = df_Of_Diabetic_Data[col].quantile(0.25)
    Q3 = df_Of_Diabetic_Data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df_Of_Diabetic_Data[(df_Of_Diabetic_Data[col] < lower_bound) | (df_Of_Diabetic_Data[col] > upper_bound)]
    outlier_count = outliers.shape[0]

    if outlier_count > 0:
        print(f"Column '{col}': Found {outlier_count} outliers.")

        if col in cols_to_remove_outliers_from:
            # Remove rows if the column is in the 'remove' list
            initial_shape = df_Of_Diabetic_Data.shape
            df_Of_Diabetic_Data = df_Of_Diabetic_Data.drop(outliers.index)
            print(f"  - Removed {outlier_count} rows containing outliers in '{col}'. New shape: {df_Of_Diabetic_Data.shape}")
        else:
            # Otherwise, cap the outliers
            df_Of_Diabetic_Data[col] = np.where(df_Of_Diabetic_Data[col] < lower_bound, lower_bound, df_Of_Diabetic_Data[col])
            df_Of_Diabetic_Data[col] = np.where(df_Of_Diabetic_Data[col] > upper_bound, upper_bound, df_Of_Diabetic_Data[col])
            print(f"  - Capped outliers in '{col}'.")

print(f"\nFinal DataFrame shape after outlier handling: {df_Of_Diabetic_Data.shape}")

Handling Outliers using IQR:
Column 'time_in_hospital': Found 2252 outliers.
  - Removed 2252 rows containing outliers in 'time_in_hospital'. New shape: (99514, 98)
Column 'num_lab_procedures': Found 118 outliers.
  - Capped outliers in 'num_lab_procedures'.
Column 'num_procedures': Found 4665 outliers.
  - Capped outliers in 'num_procedures'.
Column 'num_medications': Found 2561 outliers.
  - Capped outliers in 'num_medications'.
Column 'number_outpatient': Found 16417 outliers.
  - Capped outliers in 'number_outpatient'.
Column 'number_emergency': Found 11191 outliers.
  - Capped outliers in 'number_emergency'.
Column 'number_inpatient': Found 6821 outliers.
  - Capped outliers in 'number_inpatient'.
Column 'diag_1': Found 6426 outliers.
  - Capped outliers in 'diag_1'.
Column 'diag_2': Found 1716 outliers.
  - Capped outliers in 'diag_2'.
Column 'diag_3': Found 1626 outliers.
  - Capped outliers in 'diag_3'.
Column 'number_diagnoses': Found 277 outliers.
  - Capped outliers in 'number_diagnoses'.
Column 'tolbutamide': Found 22 outliers.
  - Capped outliers in 'tolbutamide'.
Column 'troglitazone': Found 3 outliers.
  - Capped outliers in 'troglitazone'.
Column 'glipizide-metformin': Found 13 outliers.
  - Capped outliers in 'glipizide-metformin'.
Column 'glimepiride-pioglitazone': Found 1 outliers.
  - Capped outliers in 'glimepiride-pioglitazone'.
Column 'metformin-rosiglitazone': Found 2 outliers.
  - Capped outliers in 'metformin-rosiglitazone'.
Column 'metformin-pioglitazone': Found 1 outliers.
  - Capped outliers in 'metformin-pioglitazone'.
Column 'diabetesMed': Found 23003 outliers.
  - Capped outliers in 'diabetesMed'.
Column 'race_Asian': Found 624 outliers.
  - Capped outliers in 'race_Asian'.
Column 'race_Caucasian': Found 22861 outliers.
  - Capped outliers in 'race_Caucasian'.
Column 'race_Hispanic': Found 2002 outliers.
  - Capped outliers in 'race_Hispanic'.
Column 'race_Other': Found 1476 outliers.
  - Capped outliers in 'race_Other'.
Column 'age_[10-20)': Found 677 outliers.
  - Capped outliers in 'age_[10-20)'.
Column 'age_[20-30)': Found 1641 outliers.
  - Capped outliers in 'age_[20-30)'.
Column 'age_[30-40)': Found 3723 outliers.
  - Capped outliers in 'age_[30-40)'.
Column 'age_[40-50)': Found 9502 outliers.
  - Capped outliers in 'age_[40-50)'.
Column 'age_[50-60)': Found 16929 outliers.
  - Capped outliers in 'age_[50-60)'.
Column 'age_[60-70)': Found 21991 outliers.
  - Capped outliers in 'age_[60-70)'.
Column 'age_[80-90)': Found 16729 outliers.
  - Capped outliers in 'age_[80-90)'.
Column 'age_[90-100)': Found 2738 outliers.
  - Capped outliers in 'age_[90-100)'.
Column 'metformin_No': Found 19556 outliers.
  - Capped outliers in 'metformin_No'.
Column 'metformin_Steady': Found 17972 outliers.
  - Capped outliers in 'metformin_Steady'.
Column 'metformin_Up': Found 1028 outliers.
  - Capped outliers in 'metformin_Up'.
Column 'repaglinide_No': Found 1501 outliers.
  - Capped outliers in 'repaglinide_No'.
Column 'repaglinide_Steady': Found 1355 outliers.
  - Capped outliers in 'repaglinide_Steady'.
Column 'repaglinide_Up': Found 104 outliers.
  - Capped outliers in 'repaglinide_Up'.
Column 'nateglinide_No': Found 683 outliers.
  - Capped outliers in 'nateglinide_No'.
Column 'nateglinide_Steady': Found 648 outliers.
  - Capped outliers in 'nateglinide_Steady'.
Column 'nateglinide_Up': Found 24 outliers.
  - Capped outliers in 'nateglinide_Up'.
Column 'chlorpropamide_No': Found 83 outliers.
  - Capped outliers in 'chlorpropamide_No'.
Column 'chlorpropamide_Steady': Found 77 outliers.
  - Capped outliers in 'chlorpropamide_Steady'.
Column 'chlorpropamide_Up': Found 5 outliers.
  - Capped outliers in 'chlorpropamide_Up'.
Column 'glimepiride_No': Found 5073 outliers.
  - Capped outliers in 'glimepiride_No'.
Column 'glimepiride_Steady': Found 4577 outliers.
  - Capped outliers in 'glimepiride_Steady'.
Column 'glimepiride_Up': Found 313 outliers.
  - Capped outliers in 'glimepiride_Up'.
Column 'glipizide_No': Found 12406 outliers.
  - Capped outliers in 'glipizide_No'.
Column 'glipizide_Steady': Found 11148 outliers.
  - Capped outliers in 'glipizide_Steady'.
Column 'glipizide_Up': Found 733 outliers.
  - Capped outliers in 'glipizide_Up'.
Column 'glyburide_No': Found 10357 outliers.
  - Capped outliers in 'glyburide_No'.
Column 'glyburide_Steady': Found 9049 outliers.
  - Capped outliers in 'glyburide_Steady'.
Column 'glyburide_Up': Found 779 outliers.
  - Capped outliers in 'glyburide_Up'.
Column 'pioglitazone_No': Found 7153 outliers.
  - Capped outliers in 'pioglitazone_No'.
Column 'pioglitazone_Steady': Found 6819 outliers.
  - Capped outliers in 'pioglitazone_Steady'.
Column 'pioglitazone_Up': Found 221 outliers.
  - Capped outliers in 'pioglitazone_Up'.
Column 'rosiglitazone_No': Found 6214 outliers.
  - Capped outliers in 'rosiglitazone_No'.
Column 'rosiglitazone_Steady': Found 5966 outliers.
  - Capped outliers in 'rosiglitazone_Steady'.
Column 'rosiglitazone_Up': Found 168 outliers.
  - Capped outliers in 'rosiglitazone_Up'.
Column 'acarbose_No': Found 296 outliers.
  - Capped outliers in 'acarbose_No'.
Column 'acarbose_Steady': Found 283 outliers.
  - Capped outliers in 'acarbose_Steady'.
Column 'acarbose_Up': Found 10 outliers.
  - Capped outliers in 'acarbose_Up'.
Column 'miglitol_No': Found 38 outliers.
  - Capped outliers in 'miglitol_No'.
Column 'miglitol_Steady': Found 31 outliers.
  - Capped outliers in 'miglitol_Steady'.
Column 'miglitol_Up': Found 2 outliers.
  - Capped outliers in 'miglitol_Up'.
Column 'tolazamide_Steady': Found 38 outliers.
  - Capped outliers in 'tolazamide_Steady'.
Column 'tolazamide_Up': Found 1 outliers.
  - Capped outliers in 'tolazamide_Up'.
Column 'insulin_Up': Found 10909 outliers.
  - Capped outliers in 'insulin_Up'.
Column 'glyburide-metformin_No': Found 693 outliers.
  - Capped outliers in 'glyburide-metformin_No'.
Column 'glyburide-metformin_Steady': Found 679 outliers.
  - Capped outliers in 'glyburide-metformin_Steady'.
Column 'glyburide-metformin_Up': Found 8 outliers.
  - Capped outliers in 'glyburide-metformin_Up'.
Column 'admission_type_Newborn': Found 10 outliers.
  - Capped outliers in 'admission_type_Newborn'.
Column 'admission_type_Trauma Center': Found 21 outliers.
  - Capped outliers in 'admission_type_Trauma Center'.
Column 'admission_type_Urgent': Found 18003 outliers.
  - Capped outliers in 'admission_type_Urgent'.
Column 'admission_source_ Extramural Birth': Found 2 outliers.
  - Capped outliers in 'admission_source_ Extramural Birth'.
Column 'admission_source_ Not Available': Found 125 outliers.
  - Capped outliers in 'admission_source_ Not Available'.
Column 'admission_source_ Not Mapped': Found 159 outliers.
  - Capped outliers in 'admission_source_ Not Mapped'.
Column 'admission_source_ Sick Baby': Found 1 outliers.
  - Capped outliers in 'admission_source_ Sick Baby'.
Column 'admission_source_ Transfer from Ambulatory Surgery Center': Found 2 outliers.
  - Capped outliers in 'admission_source_ Transfer from Ambulatory Surgery Center'.
Column 'admission_source_ Transfer from a Skilled Nursing Facility (SNF)': Found 813 outliers.
  - Capped outliers in 'admission_source_ Transfer from a Skilled Nursing Facility (SNF)'.
Column 'admission_source_ Transfer from another health care facility': Found 2221 outliers.
  - Capped outliers in 'admission_source_ Transfer from another health care facility'.
Column 'admission_source_ Transfer from critial access hospital': Found 8 outliers.
  - Capped outliers in 'admission_source_ Transfer from critial access hospital'.
Column 'admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim': Found 9 outliers.
  - Capped outliers in 'admission_source_ Transfer from hospital inpt/same fac reslt in a sep claim'.
Column 'admission_source_Clinic Referral': Found 1074 outliers.
  - Capped outliers in 'admission_source_Clinic Referral'.
Column 'admission_source_HMO Referral': Found 182 outliers.
  - Capped outliers in 'admission_source_HMO Referral'.
Column 'admission_source_Normal Delivery': Found 2 outliers.
  - Capped outliers in 'admission_source_Normal Delivery'.
Column 'admission_source_Transfer from a hospital': Found 3000 outliers.
  - Capped outliers in 'admission_source_Transfer from a hospital'.

Final DataFrame shape after outlier handling: (99514, 98)